@CHARSET "ISO-8859-1";

body {
	background-color: #F0F4FA;
}

.wrapper {
	background-color: #ffffff;
	box-shadow:  0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}

h1 {
	color: #BF1C2D;
}

h2, h3, h4 {
	color: #325A8A;
}

.top-buffer {
	margin-top: 32px;
}

.bot-buffer {
	margin-bottom: 32px;
}

.module-title img {
	margin-right:10px;
}

.container p a {
	font-weight:bold;
}

.table caption {
	font-weight:bold;
	font-size:16px;	
}

/* Dashboard panels */
.panel-heading .panel-title img {
	margin-right:10px;
	height:48px;
}

.panel-heading .panel-title {
	font-size:20px;
	color: #ffffff;
}

.thumbnail .caption h4 {
	text-align:center;
}

.panel-body .thumbnail img {
	margin:0 auto;
}

.achievements .list-group {
	font-size: 110%;
	box-shadow: none;
}
.achievements .list-group .list-group-item {
	border:0px;
}

.achievements .list-group .label {
	font-size:100%;
}

/* Calendar classes */
.calendar .red, .calendar .red a:link{
	background-color:#FF0000;
	color:#FFFFFF;
}
.calendar .green, .calendar .green a:link{
	background-color:#006600;
	color:#FFFFFF;
}

.calendar .add a{
	background-image: url(/img/Actions-window-new-icon.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	height: 32px;
	text-indent: -6000px;
	overflow: hidden;
}

.calendar a {
	text-decoration:none;
}

.calendar thead .month-name {
	color: #325A8A;
	font-size:18px;
	font-weight:500;
	line-height:1.1;
	margin:10px 0;
	vertical-align:middle;
}

.calendar-key .list-group img {
	float:left;
	margin-right:10px;
	padding-bottom:5px;
}

/* Data entry screen */
.week-commencing .previous, .week-commencing .next {
	vertical-align:top;
	margin:0 5px;
}

img.info {
	width:20px;
	height:20px;
	vertical-align:top;
}

.weekly-entry thead th {
	text-align:center;
}

form .submit input#cancel[type=submit] {
	margin-right:10px;
}

/* Jumbotron */
.jumbotron {
	font-size: 18px;
	background-color: #F0F4FA;
}

.jumbotron h1 {
	font-size: 30px;
	color: #BF1C2D;
}

/* List of available modules */
.module-list tbody > tr > td {
	vertical-align:middle;
}

.module-list .explore, .module-list .icon {
	text-align:center;
}

/* Footer menu */
#footer-menu {
	margin: 7.5px auto;
}

#footer-menu li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

#footer-menu > li > a {
  color: #777777;
}

#footer-menu > li > a:hover,
#footer-menu > li > a:focus {
  color: #333333;
  background-color: transparent;
}

#footer-menu > .active > a,
#footer-menu > .active > a:hover,
#footer-menu > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}